/* ========================================
   RESET
======================================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
  /* Taille : auto ou thin (fin) */
  scrollbar-width: auto;
  
  /* Couleur : [curseur] [fond/piste] */
  scrollbar-color: var(--color-secondary) white

}

body {
    margin: 0;
    min-width: 320px;

    font-family:
        "virageNarrow",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;

    line-height: 1.5;

    color: var(--color-text);
    background: var(--color-background);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

address {
    font-style: normal;
}


@font-face {
    ascent-override: 100%;
    font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowSemiboldItalic.woff2)format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style: italic
}

@font-face {
    ascent-override:100%;font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowSemibold.woff2)format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style: normal
}

@font-face {
    ascent-override:100%;font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowSemiboldItalic.woff2)format("woff2");
    font-display: swap;
    font-weight: 600;
    font-style: italic
}

@font-face {
    ascent-override:100%;font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowBold.woff2)format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

@font-face {
    ascent-override:100%;font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowBoldItalic.woff2)format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: italic
}

@font-face {
    ascent-override:100%;font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowUltrabold.woff2)format("woff2");
    font-display: swap;
    font-weight: 800;
    font-style: normal
}

@font-face {
    ascent-override:100%;font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowUltraboldItalic.woff2)format("woff2");
    font-display: swap;
    font-weight: 800;
    font-style: italic
}

@font-face {
    ascent-override:100%;font-family: virageNarrow;
    src: url(../fonts/Virage_NarrowUltraboldItalicExtra.woff2)format("woff2");
    font-display: swap;
    font-weight: 900;
    font-style: italic
}