  <footer class="site-footer">
    <div class="container">
      <div class="site-footer__content">
        <div class="d-flex items-center gap-2">
          <img
            src="./assets/icons/rcba_flat_logo.svg"
            alt="Logo RCBA"
            width="48"
            height="48"
          />

          <div>
            <strong>Racing Club Bû Abondant</strong>

            <p class="mb-0 text-white">Football • Passion • Respect</p>
          </div>
        </div>

        <nav aria-label="Navigation secondaire">
          <ul class="d-flex flex-column gap-1">
            <li>
              <a href="/mentions-legales.html"> Mentions légales </a>
            </li>
            <li>
              <a href="./politique-confidentialite.html"
                >Politique de confidentialité</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <p class="site-footer__copyright">
        © 2026 Racing Club Bû Abondant — Tous droits réservés.
      </p>
    </div>
  </footer>
  <script type="module" src="./assets/js/contact.js" defer></script>
  <script type="module" src="./assets/js/events.js" defer></script>
  <script type="module" src="./assets/js/home.js" defer></script>
  <script type="module" src="./assets/js/licences.js" defer></script>
  <script type="module" src="./assets/js/news-home.js" defer></script>
  <script type="module" src="./assets/js/news.js" defer></script>
  <script type="module" src="./assets/js/palmares.js" defer></script>
  <script type="module" src="./assets/js/partners-home.js" defer></script>
  <script type="module" src="./assets/js/routes.js" defer></script>
  <script type="module" src="./assets/js/staff.js" defer></script>
  <script type="module" src="./assets/js/teams.js" defer></script>
  <script type="module" src="./assets/js/valeurs.js" defer></script>
  <script type="module" src="./assets/js/volunteers.js" defer></script>
  <script type="module" src="./assets/js/main.js" defer></script>
</body>

</html>