  <section class="page-hero">
    <div class="container">
      <h1>Contact</h1>

      <p>Comment nous contacter où vous rendre à nos installations.</p>
    </div>
  </section>
  <section class="section bg-alt">
    <div class="container text-center">
      <div class="section__header">
        <h2>Nous trouver</h2>
      </div>
      <div class="mb-4 d-flex flex-row gap-2 justify-center flex-wrap">
        <div>
          <address class="mb-3">
            Racing Club Bu Abondant<br />
            Stade de Bu<br />
            Rue de l'Église<br />
            Bû — Eure-et-Loir
          </address>

          <a class="button" href="https://maps.app.goo.gl/xq2pLJhW1MBdfoqN6" target="_blank" rel="noopener">
            Voir l'itinéraire
          </a>
        </div>
        <div>
          <address class="mb-3">
            Racing Club Bu Abondant<br />
            Stade d'Abondant<br />
            All. du Château<br />
            Abondant - 28410 — Eure-et-Loir
          </address>

          <a class="button" href="https://maps.app.goo.gl/au61yMFq468zSo4K8" target="_blank" rel="noopener">
            Voir l'itinéraire
          </a>
        </div>
      </div>
    </div>
  </section>