<main>
    <section class="hero">
        <div class="container text-center">
            <h1>Palmarès</h1>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="text-center mb-4">Nos succès</h2>

            <p class="text-center mb-4">
                Découvrez les succès du RCBA au fil des années.
            </p>
        </div>
    </section>

    <section class="section">
        <div class="container"
            style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
            <article class="palmares-card-horizontal">
                <div class="palmares-card__gallery">
                    <button type="button" class="palmares-card__photo" aria-label="Afficher la photo 1">
                        <img src="./assets/images/news/palmares1.avif" alt="Example title — photo 1" loading="eager">
                    </button>
                </div>
                <div class="palmares-card__content">
                    <h2 class="article-card__title">Championnat de France</h2>
                    <div class="article-card__text">2020, 2021, 2022</div>
                </div>
            </article>
            <article class="palmares-card-horizontal--reverse">
                <div class="palmares-card__gallery">
                    <button type="button" class="palmares-card__photo" aria-label="Afficher la photo 1">
                        <img src="./assets/images/news/photo1.jfif" alt="Example title — photo 1" loading="eager">
                    </button>
                </div>
                <div class="palmares-card__content">
                    <h2 class="article-card__title">Championnat de France</h2>
                    <div class="article-card__text">2020, 2021, 2022</div>
                </div>
            </article>
        </div>
    </section>
</main>